.over{
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
         background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        
         /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

         margin-left: 200px;
         margin-top: 100px;
         border: 2px solid black;
}
#nav{
     font-weight: bold;
     font-family:Georgia, 'Times New Roman', Times, serif;
}
.upnav{
  width: 100%;
  height :100px;
}
.view{
     border: 2px solid red;
     height: 100px;

}
