
  <div class="container-fluid  topNavigation">
    <div class="row outer">
      <a class="col-4" href="#">
        <img src="/assets/logo.svg" class=" on" height="100px">
        <span class="tag"> Lotus Jewellary</span>

      </a>
      <div class="col-8">
           <!-- <div class="row text-start"> -->
        <div class="d-flex justify-content-start lable">
        <a class="p-4" href="#">home</a>
        <a class="p-4" href="#">about us</a>
        <a class="p-4" href="#">about us</a>
      </div>
      </div>
    </div>
  </div>

